<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Zetty</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Zetty</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.6</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>LSUIElement</key>
	<false/>
	<key>NSDesktopFolderUsageDescription</key>
	<string>Zetty needs access so terminals you open in it can read and write files on your Desktop.</string>
	<key>NSDocumentsFolderUsageDescription</key>
	<string>Zetty needs access so terminals you open in it can read and write files in your Documents.</string>
	<key>NSDownloadsFolderUsageDescription</key>
	<string>Zetty needs access so terminals you open in it can read and write files in your Downloads.</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright ©. All rights reserved.</string>
	<key>NSMainStoryboardFile</key>
	<string>Main</string>
	<key>NSNetworkVolumesUsageDescription</key>
	<string>Zetty needs access so terminals you open in it can read and write files on network volumes.</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSRemovableVolumesUsageDescription</key>
	<string>Zetty needs access so terminals you open in it can read and write files on removable volumes.</string>
</dict>
</plist>
